<h1>These are all the Mixtapes</h1>
<ul>
    <% @mixtapes.each do |mixtape| %>
    <li>
        <%= link_to mixtape.label, mixtape %>
    </li>
    <% end %>
</ul>


<%= button_to "Make New Mixtape", new_mixtape_path, method: "get" %>
